﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Callback Listener</h1>
    <p class="lead">Sample .NET listener to demonstrate receiving callback notifications from e-SignLive</p>
</div>